<b-tabs v-model="tabIndex" card>
    <b-tab title="Assets" active>
      <div>
        <div class="row my-2 ml-2">
          <div class="col-8" style="font-size: 24px;">
            {{ formattedTfbBalance }} TFB
          </div>
          <div class="col-4 text-right">
            <b-button @click="openSendModal('TFB')">Send</b-button>
            <b-button @click="openReceiveModal('TFB')">Receive</b-button>
          </div>
        </div>
        <div class="row my-2 ml-2">
          <div class="col-8" style="font-size: 24px;">
            {{ formattedCeloBalance }} CELO
          </div>
          <div class="col-4 text-right">
            <b-button @click="openSendModal('CELO')">Send</b-button>
            <b-button @click="openReceiveModal('CELO')">Receive</b-button>
          </div>
        </div>
        <div class="row my-2 ml-2">
          <div class="col-8" style="font-size: 24px;">
            {{ formattedCUsdBalance }} cUSD
          </div>
          <div class="col-4 text-right">
            <b-button @click="openSendModal('cUSD')">Send</b-button>
            <b-button @click="openReceiveModal('cUSD')">Receive</b-button>
          </div>
        </div>
      </div>
    </b-tab>
    <b-tab title="Transaction History">

      <div>
        <b-form inline>
          <label class="mr-sm-2" for="inline-form-custom-select-pref">Currency</label>
          <b-form-select
            id="inline-form-custom-select-pref"
            class="mb-2 mr-sm-2 mb-sm-0"
            :options="currencies"
            v-model="selectedCurrency"
            @change="loadHistory"
          ></b-form-select>

          <span class="font-weight-bold ml-3 mr-1">Balance: </span>
          <span v-if="selectedCurrency == 'TFB'">
            {{ formattedTfbBalance }}
          </span>
          <span v-if="selectedCurrency == 'CELO'">
            {{ formattedCeloBalance }}
          </span>
          <span v-if="selectedCurrency == 'cUSD'">
            {{ formattedCUsdBalance }}
          </span>
        </b-form>
      </div>

      <b-table :items="computedTransactionHistory" :busy="isBusy" :fields="transactionHistoryFields" class="mt-3" outlined>

        <template #table-busy>
          <div class="text-center text-danger my-2">
            <b-spinner class="align-middle"></b-spinner>
            <strong>Loading...</strong>
          </div>
        </template>

        <template #cell(date)="data">
          {{ data.item.date }}
        </template>

        <template #cell(type)="data">
          <div :class="['badge', data.item.type == 'send' ? 'badge-danger' : 'badge-success']">
            {{ data.item.type == 'send' ? 'Send to' : 'Receive from' }}
          </div>
        </template>

        <template #cell(address)="data">
          {{ data.item.address }}
        </template>
  
        <template #cell(amount)="data">
          <span :class="['font-weight-bold', data.item.type == 'send' ? 'text-danger' : 'text-success']">
            {{ data.item.type == 'send' ? '-' : '+' }}
            {{ formatAmount(data.item.amount) }}
            {{ selectedCurrency }}
          </span>
        </template>
  
        <template #empty="scope">
          <h4>No transation found</h4>
        </template>

      </b-table>

    </b-tab>
    <b-tab title="Settings">
      <div>
        <p><b>Address:</b> &nbsp;&nbsp;&nbsp;{{ address }}</p>
        <p><b>Private Key:</b> &nbsp;&nbsp;&nbsp;{{ privateKey }}</p>
        <b-button @click="openPrivateKeyModal">Change Private Key</b-button>
      </div>
    </b-tab>
  </b-tabs>
















  <b-modal ref="pk_modal" title="Set Your Private Key" size="lg" @ok="privateKeyModalOK" @caclel="privateKeyModalCancel">
    <b-form-group horizontal :label-cols="12" label="Enter your private key">
      <b-form-input v-model.trim="privateKey"></b-form-input>
    </b-form-group>
  </b-modal>


  <b-modal ref="send_modal" :title="'Send ' + selectedCurrency" hide-footer>
    <b-form>
      <b-form-group id="input-group-1" label="Recipient Address:" label-for="input-1">
        <b-form-input
          id="input-1"
          v-model="recipientAddress"
          type="text"
          placeholder="0x..."
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-2" label="Amount:" label-for="input-2">
        <b-form-input
          id="input-2"
          v-model="sendAmount"
          placeholder="11..."
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-3" label="Fee Currency:" label-for="input-3">
        <b-form-select
          id="input-3"
          v-model="feeCurrency"
          :options="feeCurrencies"
          required
        ></b-form-select>
      </b-form-group>

      <div class="mt-2 text-right">
        <b-button type="button" @click="$refs['send_modal'].hide()" variant="danger">Cancel</b-button>
        <b-button type="submit" @click.prevent="sendToken" variant="primary">Submit</b-button>
      </div>
    </b-form>
  </b-modal>

  <b-modal ref="receive_modal" title="Receive Token">
    <pre>
      {{ address }}
    </pre>
  </b-modal>